.calendar-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  background-color: #84ACCE;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 30;
}

.calendar-btn img {
  width: 24px;
  height: 24px;
}


.calendar-btn:hover {
  box-shadow: 0 8px 20px rgba(132, 172, 206, 0.45);
}

.calendar-btn img {
  display: block;
  pointer-events: none;
}
