.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 0 32px;
  z-index: 20;
}


.header-logo {
  height: 124px;
}


.search-bar {
  justify-self: center;
  width: 420px;

  padding: 10px 18px;
  border-radius: 999px;
  border: none;
  outline: none;

  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 0.95rem;
}


.admin-btn {
  background-color: #84ACCE;
  color: #040403;

  border: none;
  border-radius: 999px;
  padding: 8px 18px;

  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}

.admin-btn:hover {
  box-shadow: 0 8px 20px rgba(132, 172, 206, 0.45);
  transform: translateY(-1px);
}

.landing-admin {
  z-index: 30;
}

.header-center-placeholder {
  justify-self: center;
  width: 420px; /* same width as search bar */
}
