.dashboard-page {
  padding-top: 140px;
}

.dashboard-content {
  padding: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.empty-state {
  color: #736F4E;
}

.admin-event-card {
  position: relative;
}

.edit-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  background-color: #F9DC5C;
  color: #040403;
  border: none;
  border-radius: 999px;
  padding: 6px 12px;

  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}
