
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Cabin', sans-serif;
  background-color: #040403;
  color: #ffffff;
}

/* dot bg */
.app-bg {
  min-height: 100vh;
  background-color: #040403;
  background-image:
    radial-gradient(
    rgba(249, 220, 92, 0.06) 1px,
    rgba(4, 4, 3, 0.7) 2px
    );
  background-size: 24px 24px;
}

.primary-btn {
  background: #FB8537;
  color: #040403;
  border-radius: 999px;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  opacity: 0.9;
}

/* CANCEL / SECONDARY */
.secondary-btn {
  background: transparent;
  color: #84ACCE;
  border: 1px solid #84ACCE;
  border-radius: 999px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}

.secondary-btn:hover {
  background: rgba(132, 172, 206, 0.1);
}
