/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Cabin', sans-serif;
  background-color: #040403;
  color: #ffffff;
}

/* DOT BACKGROUND */
.app-bg {
  min-height: 100vh;
  background-color: #040403;
  background-image:
    radial-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    );
  background-size: 24px 24px;
}
