.event-details-wrapper {
  padding-top: 140px;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.event-meta {
  display: flex;
  gap: 16px;
  color: #aaa;
  margin-bottom: 20px;
}
